body{
	background: black;
}

@font-face {
  font-family: 'Gotham-Medium';
  src:  url('../assets/Gotham-Medium.woff') format('woff'),
        url('../assets/Gotham-Medium.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello{
	color: white;
	font-family: 'Gotham-Medium';
}

.active{
	border:5px solid red;
}